<div id="modal1" class="modal">
    <div class="modal-content">
        <h3 id="message-h3"></h3>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>

<div class="container">

    <div class="section">
    
        <div class="row">
    
            <div class="col s12 center saved-article-div">

            </div>
    
        </div>
    
    </div>

</div>